.custom-radio .form-check-input:checked {
  background-color: #535151;
  border-color: #535151;
}

.page-title {
  text-align: center;
  margin-top: 20px;
}

.filter-section {
  margin-top: 20px;
  margin-left: 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 18rem;
  margin: 10px;
  flex: 0 1 18rem;
}

.product-link {
  text-decoration: none;
  color: inherit;
}
